<h1>Admin Interface</h1>
<p>Login is required for everything</p>
<ul>
	<li><a href="<%= admin_feedDatabase_path() %>">Feed database</a></li>
	<li><a href="<%= admin_startTwitter_path() %>">Start Twitter</a></li>
</ul>
<p>Number of stories in the database: <%= @nStories %></p>
<p><%= @message %></p>
