/*.header {
  font-size: 4em;
  line-height: 1em;
  text-align: center;
}*/
.constrained{
  max-width: 786px;
}
body {
  margin-bottom: 100px;
  background: #ADDDE4;
}
.line-behind{
  width: 50%;
  height: 100%;
  border-right: 4px solid #5D9FA8;
  position: fixed;
  z-index: -4;
  margin-top:0px;
}
.spacer{
  min-height: 20px;
  width: 100%;
  background: #ADDDE4;
}

.header{
  width: 100%;
  background: #5D9FA8;
  margin-bottom: 20px;
}

/*.header, .date{
    -webkit-box-shadow: inset 0 0 15px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: inset    0 0 15px rgba(50, 50, 50, 0.4);
  box-shadow: inset         0 0 15px rgba(50, 50, 50, 0.4);
}*/

.header > .title{
  color: white;
  padding: 0.5em 0.25em;
  font-size: 4em;
  margin: 0px;
}


.header > .header-menu{
  -webkit-box-shadow: 0 0 23px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    0 0 23px rgba(50, 50, 50, 0.55);
  box-shadow:         0 0 23px rgba(50, 50, 50, 0.55);
  border-radius: 10px;
  padding: 10px;
  padding-top: 5px;
  margin-right: -15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: white;
}

.header .links{
  font-size: 0.25em;
  line-height: 0.1em;
  margin-top: 10px;
  text-align: center;
}

.story{
  -webkit-box-shadow: 0 0 15px rgba(93, 159, 168, 0.8);
  -moz-box-shadow:    0 0 15px rgba(93, 159, 168, 0.8);
  box-shadow:         0 0 15px rgba(93, 159, 168, 0.8);
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  margin: 2em 0;
}

.text{
  
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid #ADDDE4;
  padding: 1em;
}
.story .text:nth-child(1){
  border-top-width: 0;
  /*border-top-width: 2px;*/
}
.story .text:nth-last-child(1){
  border-bottom-width: 0px;
}

.text > img{
  height: 80px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 3px;
}

.text:after{
  content:'';
  display:block;
  clear: both;
  float: none;
}
.clear{
  clear: both;
  float: none;
}
.date, .event, .loader{
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.event{
  padding: 1em;
  background-color: white;
  border: 4px solid grey;
  max-width: 400px;
  width: 400px;
}

.event > h2{
  margin: 0px;
}

.date, .loader {
  padding: 0.3em 0.2em;
  background-color: #5D9FA8;
  color: white;
  width: 180px;
  font-family: arial;
}

.loader{
  padding: 0.5em;
  width: 60px;
}

.gradient{    
  background: -moz-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(173,221,228,1)), color-stop(72%, rgba(173,221,228,1)), color-stop(100%, rgba(173,221,228,0))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADDDE4', endColorstr='#ADDDE4',GradientType=0 ); /* ie6-9 */
  min-height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}