/*.header {
  font-size: 4em;
  line-height: 1em;
  text-align: center;
}*/
.constrained{
  max-width: 786px;
}

.photo-story{
  /*min-width: 786px;*/
}

body {
  margin-bottom: 100px;
  background: #ADDDE4;
}
.line-behind{
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: -4;
  margin-top:0px;
}

.line-behind div{
  height: 100%;
  position: absolute;
  top:0px;
  right: -2px;
  width: 4px;
  background: #5D9FA8;
}

.spacer{
  min-height: 20px;
  width: 100%;
  background: #ADDDE4;
}

.header{
  width: 100%;
  background: #5D9FA8;
  margin-bottom: 20px;
}

/*.header, .date{
    -webkit-box-shadow: inset 0 0 15px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: inset    0 0 15px rgba(50, 50, 50, 0.4);
  box-shadow: inset         0 0 15px rgba(50, 50, 50, 0.4);
}*/

.header > .title{
  color: white;
  padding: 0.5em 0.25em;
  font-size: 4em;
  margin: 0px;
}


.menu{
  height: 80px;
  margin: 20px 30px 20px 0;
}

.menu > .nav {
  display: inline-block;
}

.nav-pills > li > a {
  font-size: 3em;
  color: #ADDDE4;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #5D9FA8;
    background-color: #ADDDE4;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ADDDE4;
    color: #5D9FA8;
}

.story{
  -webkit-box-shadow: 0 0 15px rgba(93, 159, 168, 0.8);
  -moz-box-shadow:    0 0 15px rgba(93, 159, 168, 0.8);
  box-shadow:         0 0 15px rgba(93, 159, 168, 0.8);
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  margin: 2em 0;
}

.link-container{
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  margin: 0px auto;
  margin-bottom: 1em;
  background-color: #5D9FA8;
  color: white;
  padding: 1em 0;
  text-align: center;
  max-width: 30em;
}

.link-container > p {
  margin: 0px;
}

.link-container a, .link-container a:visited {
    color: #ADDDE4;
    /*background-color: #ADDDE4;*/
}

.link-container a:hover, .link-container a:focus{
  color: #FFF;
}

.text{
  
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid #ADDDE4;
  padding: 1em;
}
.story .text:nth-child(1){
  border-top-width: 0;
  /*border-top-width: 2px;*/
}
.story .text:nth-last-child(1){
  border-bottom-width: 0px;
}

.text > img{
  height: 80px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 3px;
}

.text:after{
  content:'';
  display:block;
  clear: both;
  float: none;
}
.clear{
  clear: both;
  float: none;
}
.date, .event, .loader, .error-message{
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.event{
  padding: 1em;
  background-color: white;
  border: 4px solid grey;
  max-width: 400px;
  width: 400px;
}

.event > h2{
  margin: 0px;
}

.date, .loader, .error-message {
  padding: 0.3em 0.2em;
  background-color: #5D9FA8;
  color: white;
  width: 180px;
  font-family: arial;
}

.loader{
  padding: 0.5em;
  width: 60px;
}

.error-message{
  background-color: #b43435;
  padding: 0.5em;
}

.gradient{    
  background: -moz-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(173,221,228,1)), color-stop(72%, rgba(173,221,228,1)), color-stop(100%, rgba(173,221,228,0))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(173,221,228,0) 0%, rgba(173,221,228,1) 28%, rgba(173,221,228,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADDDE4', endColorstr='#ADDDE4',GradientType=0 ); /* ie6-9 */
  min-height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}


/*.thumbnail{
  width: 100%;
  text-align: center;
}*/

.photo-item{
  /*width: 21%;
  min-width: 150px;*/
  position: relative;
  text-align: center;
}

@media (max-width: 768px) {
  .photo-item{
    width: 100%;
  } 
}

.photo-container{
  display: inline-block;
  position: relative;
  margin: 10px 2%;
  max-width: 100%;
}

.photo-loading-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  visibility: hidden;
}

.ball{
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: absolute;
}

.ball.blue{
  background: #0063dc;
  z-index: 2;
}

.ball.pink{
  background: #ff0084;
  z-index: 1;
}


body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom{
  margin-right: 0;
}


